# LLVM repository
llvm-project/

# Build artifacts
build-llvm/

# macOS / OS files
.DS_Store
*.swp
*~

# Generated testing outputs
tests/*.ll
tests/*.s
!tests/test.ll
!tests/test.s
!tests/runtime_bool_brcond.ll

# IDEs
.idea/
.vscode/
*.swp
